@model eStore.Shared.Models.Sales.OnlineSale

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>OnlineSale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoyagerInvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoyagerInvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoygerDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoygerDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoyagerAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoyagerAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfitValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfitValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.OnlineVendorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OnlineSaleId">Edit</a> 
    
</div>
