@model IEnumerable<eStore.Shared.Models.Sales.OnlineSale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoyagerInvoiceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoygerDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoyagerAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfitValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoyagerInvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoygerDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoyagerAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfitValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.OnlineVendorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OnlineSaleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OnlineSaleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OnlineSaleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
