@model eStore.Shared.Models.Accounts.LedgerType

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>LedgerType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LedgerNameType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LedgerNameType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LedgerTypeId">Edit</a> 
    
</div>
