@model IEnumerable<eStore.Shared.Models.Accounts.CashReceipt>

@{ ViewData["Title"] = "Index";
    var host = "https://localhost:44335/";
    var uri = host + "api/CashReceipts";
    var activityName = "CashReceipt"; }


<table class="table" id="dtCashReceipt">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InwardDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlipNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.InwardDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mode.Transcation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReceiptFrom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SlipNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Remarks)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Store.StoreName)
    </td>
    
    <td>
        <a asp-action="Edit" asp-route-id="@item.CashReceiptId">Edit</a> 
        <a asp-action="Details" asp-route-id="@item.CashReceiptId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.CashReceiptId">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>
<partial name="_OnlyModalPopUp" />
@section Scripts{
    <script src="~/js/curdjs.js"></script>
    <script>
        cardTableInit("dtCashReceipt", "Receipt(C)", "CashReceipts");
         function deleteM(id) {
             deleteModal('@activityName', '@uri', id);
            // alert(id);
             return false;
        }
    </script>
}
