@model eStore.Shared.Models.Accounts.Expenses.EletricityBill

@{
    ViewData["Title"] = "Delete";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EletricityBill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterReadingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterReadingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMeterReading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMeterReading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrearAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrearAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetDemand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetDemand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Connection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Connection.ElectricityConnectionId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReadOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReadOnly)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EletricityBillId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        
    </form>
</div>
