@model eStore.Shared.Models.Accounts.Expenses.EletricityBill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EletricityBill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterReadingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterReadingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMeterReading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMeterReading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrearAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrearAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetDemand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetDemand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Connection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Connection.ElectricityConnectionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReadOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReadOnly)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EletricityBillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
