@model IEnumerable<eStore.Shared.Models.Accounts.Expenses.RentedLocation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvanceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRented)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReadOnly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvanceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReadOnly)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentedLocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentedLocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentedLocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
