@model eStore.Shared.Models.Sales.OnlineVendor

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>OnlineVendor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OnlineVendorId">Edit</a> 
    
</div>
