@model eStore.Shared.Models.Tailoring.TalioringDelivery
@{
    ViewData["Title"] = "Delete";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TalioringDelivery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking.TalioringBookingId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TalioringDeliveryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        
    </form>
</div>
