@model eStore.Shared.Models.Tailoring.TalioringDelivery
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TalioringDelivery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking.TalioringBookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReadOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReadOnly)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TalioringDeliveryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
