@model eStore.Shared.Models.Common.CashInHand

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CashInHand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIHDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIHDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenningBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenningBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CashIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CashIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CashOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CashOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CashInHandId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
