@model IEnumerable<eStore.Shared.Models.Sales.OnlineSaleReturn>

@{
    ViewData["Title"] = "Online Sales Return";
    var host = "https://localhost:44335/";
    var uri = host + "api/OnlineSalesReturns";
    var activityName = "OnlineSalesReturn";
}

<table class="table" id="dtOnlineSaleReturn">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OnlineSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.VoyagerInvoiceNo)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.VoygerDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoyagerAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsRecived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecivedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OnlineSale.InvNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.VoyagerInvoiceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoygerDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoyagerAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IsRecived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecivedDate)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.OnlineSaleReturnId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OnlineSaleReturnId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OnlineSaleReturnId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_OnlyModalPopUp" />
@section Scripts{
    <script src="~/js/curdjs.js"></script>
    <script>
        cardTableInit("dtOnlineSaleReturn", "Online Sale Return", "OnlineSaleReturns");
         function deleteM(id) {
             deleteModal('@activityName', '@uri', id);
            // alert(id);
             return false;
        }
    </script>
}