@model eStore.BL.Widgets.MasterViewReport

@{
    ViewData["Title"] = "Home Page";
}

<section>
    @*Sale Info and Others*@
    <div class="card-deck  mb-4">

        <!-- Card -->
        @if (Model.BookingOverDues != null && Model.BookingOverDues.Count > 0)
        {

            <div class="card card-cascade narrower mb-4">

                <!--Card image-->
                <div class="view overlay">
                    @*<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>*@
                </div>

                <!--Card content-->
                <div class="card-body  text-center pb-0 px-0">

                    <!--Title-->
                    <h4 class="card-title text-warning">Warning Board </h4>
                    <!--Text-->
                    <p class="card-text">
                        @if (Model.BookingOverDues != null && Context.User.Identity.IsAuthenticated)
                        {
                            <table class="table table-striped text-info table-sm">
                                @{
                                    var ctr = 0;
                                }
                                @foreach (var item in Model.BookingOverDues)
                                {
                                    ctr++;
                                    <tr>
                                        @*<td>@Html.DisplayNameFor(model => item.CustomerName)</td>
                                            <td>@Html.DisplayFor(model => item.CustomerName)</td>*@

                                        <td>@Html.DisplayNameFor(model => item.SlipNo)</td>
                                        <td>@Html.DisplayFor(model => item.SlipNo)</td>
                                        @*</tr>
                                            <tr>*@
                                        <td>@Html.DisplayNameFor(model => item.NoDays)</td>
                                        <td>@Html.DisplayFor(model => item.NoDays)</td>
                                    </tr>
                                    @*<tr>
                                            <td>@Html.DisplayNameFor(model => item.DelveryDate)</td>
                                            <td>@Html.DisplayFor(model => item.DelveryDate)</td>
                                        </tr>*@
                                    if (ctr > 3) break;
                                }

                            </table>
                        }
                        else
                        {
                            <h5>  Sale Data (Registered Users Only).</h5>
                        }

                        <br />
                    </p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    @*<button type="button" class="btn btn-outline-default btn-md">Read more</button>*@
                    @if (Context.User.Identity.IsAuthenticated)
                    {<a class="btn btn-outline-default btn-md" href="Reports/BookingOverDue/Index">Details &raquo;</a>}

                </div>

            </div>
        }

        <!-- Card -->
    </div>
</section>
<section>
    <!-- Grid row -->
    <div class="row mx-1">
        <!-- Grid column -->
        <div class="col-md-12">
            <!-- Card deck -->
            <div class="card-deck  mb-4">
                <!-- Card -->
                <div class="card card-cascade narrower mb-4">
                    <div class="card-header text-center">
                        <!--Title-->
                        <h4 class="card-title text-default">Sale Record </h4>
                    </div>
                    <!--Card content-->
                    <div class="card-body  text-center pb-0 px-0">
                        <!--Text-->
                        <p class="card-text">
                            @if (Model.SaleReport != null && Context.User.Identity.IsAuthenticated)
                            {
                                <table class="table table-striped text-info table-sm">
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.SaleReport.DailySale)</td>
                                        <td>@Html.DisplayFor(model => model.SaleReport.DailySale)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.SaleReport.MonthlySale)</td>
                                        <td>@Html.DisplayFor(model => model.SaleReport.MonthlySale)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.SaleReport.YearlySale)</td>
                                        <td>@Html.DisplayFor(model => model.SaleReport.YearlySale)</td>
                                    </tr>
                                </table>
                            }
                            else
                            {
                                <h5>  Sale Data (Registered Users Only).</h5>
                            }

                            <br />
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        @*<button type="button" class="btn btn-outline-default btn-md">Read more</button>*@
                        @if (Context.User.Identity.IsAuthenticated)
                        {<a class="btn btn-outline-default btn-md" href="Sales/DailySales/Index">Details &raquo;</a>}
                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div class="card  card-cascade narrower mb-4">
                    <!--Card image-->
                    <div class="card-header text-center">
                        <!--Title-->
                        <h4 class="card-title dark-green-ic">Tailoring</h4>
                    </div>
                    <!--Card content-->
                    <div class="card-body card-body-cascade text-center pb-0 px-0">
                        <!--Text-->
                        <p class="card-text">
                            @if (Model.TailoringReport != null && Context.User.Identity.IsAuthenticated)
                            {
                                <table class="table table-striped text-info table-sm">
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.TailoringReport.TodaySale)</td>
                                        <td>@Html.DisplayFor(model => model.TailoringReport.TodaySale)</td>

                                        <td>@Html.DisplayNameFor(model => model.TailoringReport.TodayBooking) / @Html.DisplayNameFor(model => model.TailoringReport.TodayUnit)</td>
                                        <td>@Html.DisplayFor(model => model.TailoringReport.TodayBooking) / @Html.DisplayFor(model => model.TailoringReport.TodayUnit)</td>

                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.TailoringReport.MonthlySale)</td>
                                        <td>@Html.DisplayFor(model => model.TailoringReport.MonthlySale)</td>

                                        <td>@Html.DisplayNameFor(model => model.TailoringReport.MonthlyBooking)/@Html.DisplayNameFor(model => model.TailoringReport.MonthlyUnit)</td>
                                        <td>@Html.DisplayFor(model => model.TailoringReport.MonthlyBooking)/@Html.DisplayFor(model => model.TailoringReport.MonthlyUnit)</td>


                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.TailoringReport.YearlySale)</td>
                                        <td>@Html.DisplayFor(model => model.TailoringReport.YearlySale)</td>

                                        <td>@Html.DisplayNameFor(model => model.TailoringReport.YearlyBooking)/@Html.DisplayNameFor(model => model.TailoringReport.YearlyUnit)</td>
                                        <td>@Html.DisplayFor(model => model.TailoringReport.YearlyBooking)/@Html.DisplayFor(model => model.TailoringReport.YearlyUnit)</td>


                                    </tr>
                                </table>
                            }
                            else
                            {
                                <h5>  Tailoring Data (Registered Users Only).</h5>
                            }
                        </p>

                    </div>
                    <div class="card-footer text-right">
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        @*<button type="button" class="btn btn-outline-default btn-md">Read more</button>*@
                        @if (Context.User.Identity.IsAuthenticated)
                        {<a class="btn btn-outline-default btn-md" href="Tailoring/TalioringBookings">Booking List &raquo;</a>}

                    </div>

                </div>
                <!-- Card -->
                <!-- Card -->

                <div class="card  card-cascade narrower mb-4">
                    <!--Card image-->
                    <div class="card-header text-center">
                        <!--Title-->
                        <h4 class="card-title amber-text">Accounting</h4>
                    </div>

                    <!--Card content-->
                    <div class="card-body card-body-cascade text-center pb-0 px-0 ">

                        <!--Text-->
                        <p class="card-text">
                            @if (Model.AccountsInfo != null && Context.User.Identity.IsAuthenticated)
                            {
                                <table class="table  table-sm  table-striped">
                                    <tr>
                                        <td class="text-primary">@Html.DisplayNameFor(model => model.AccountsInfo.OpenningBal)</td>
                                        <td class="text-primary">@Html.DisplayFor(model => model.AccountsInfo.OpenningBal)</td>
                                        @*</tr>
                                            <tr>*@
                                        <td class="text-success">@Html.DisplayNameFor(model => model.AccountsInfo.CashInHand)</td>
                                        <td class="text-success">@Html.DisplayFor(model => model.AccountsInfo.CashInHand)</td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.AccountsInfo.CashIn)</td>
                                        <td>@Html.DisplayFor(model => model.AccountsInfo.CashIn)</td>
                                        @*</tr>
                                            <tr>*@
                                        <td class="text-danger">@Html.DisplayNameFor(model => model.AccountsInfo.CashOut)</td>
                                        <td class="text-danger">@Html.DisplayFor(model => model.AccountsInfo.CashOut)</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>@Html.DisplayNameFor(model => model.AccountsInfo.TotalCashPayments)</td>
                                        <td>@Html.DisplayFor(model => model.AccountsInfo.TotalCashPayments)</td>
                                    </tr>
                                    @*<hr />*@
                                    <tr>
                                        <td class="text-success">@Html.DisplayNameFor(model => model.AccountsInfo.CashInBank)</td>
                                        <td class="text-success">@Html.DisplayFor(model => model.AccountsInfo.CashInBank)</td>
                                        @*/tr>
                                            <tr>*@
                                        <td class="text-primary">@Html.DisplayNameFor(model => model.AccountsInfo.CashToBank)</td>
                                        <td class="text-primary">@Html.DisplayFor(model => model.AccountsInfo.CashToBank)</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-danger">@Html.DisplayNameFor(model => model.AccountsInfo.CashFromBank)</td>
                                        <td class="text-danger">@Html.DisplayFor(model => model.AccountsInfo.CashFromBank)</td>
                                    </tr>
                                </table>

                            }
                        </p>


                    </div>
                    <div class="card-footer text-right">
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        @*<button type="button" class="btn btn-outline-default btn-md">Read more</button>*@
                        @if (Context.User.Identity.IsAuthenticated)
                        {<a class="btn btn-outline-default btn-md" href="AccountsDetails/">Detail &raquo;</a>}
                    </div>

                </div>

                <!-- Card -->

            </div>
            <!-- Card deck -->

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>


<section>
    @*    Attendance Info*@
    <h2 class="text-success">Employees Info</h2>
    <hr class="text-info" />
    <div class="row mx-1">
        @if (Model.EmpInfoList != null && Model.EmpInfoList.Count > 0 && Context.User.Identity.IsAuthenticated)
        {

            <div class="col-md-12 mb-4">
                <div class="card-deck">
                    @foreach (var item in Model.EmpInfoList)
                    {
                        <!-- Card -->
                        <div class="col-md-4 small">
                            <div class="card  card-cascade narrower mb-4">
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title deep-purple-text">@Html.DisplayFor(model => item.Name)</h4>
                                    <!--Text-->
                                    <p class="card-text">
                                        <div class="">
                                            <dl class="row ">
                                                @if (item.Present == "Present")
                                                {
                                                    <dt class="col-sm-8 text-sm-right text-success">@Html.DisplayNameFor(model => item.Present)</dt>
                                                    <dd class="col-sm-4 text-success">@Html.DisplayFor(model => item.Present)</dd>
                                                }
                                                else
                                                {
                                                    <dt class="col-sm-8 text-sm-right text-danger">@Html.DisplayNameFor(model => item.Present)</dt>
                                                    <dd class="col-sm-4 text-danger">@Html.DisplayFor(model => item.Present)</dd>
                                                }
                                                <dt class="col-sm-8 text-sm-right">@Html.DisplayNameFor(model => item.PresentDays)/Absent</dt>
                                                <dd class="col-sm-4">@Html.DisplayFor(model => item.PresentDays)/@Html.DisplayFor(model => item.AbsentDays)</dd>
                                                @*<dt class="col-sm-8 text-sm-right">@Html.DisplayNameFor(model => item.AbsentDays)</dt>
                                                    <dd class="col-sm-4">@Html.DisplayFor(model => item.AbsentDays)</dd>*@
                                                @if (item.IsSalesman)
                                                {
                                                    <dt class="col-sm-8 text-sm-right">@Html.DisplayNameFor(model => item.Ratio)</dt>
                                                    <dd class="col-sm-4">@Html.DisplayFor(model => item.Ratio)</dd>
                                                    <dt class="col-sm-8 text-sm-right">@Html.DisplayNameFor(model => item.NoOfBills)</dt>
                                                    <dd class="col-sm-4">@Html.DisplayFor(model => item.NoOfBills)</dd>
                                                    <dt class="col-sm-8 text-sm-right">@Html.DisplayNameFor(model => item.TotalSale)</dt>
                                                    <dd class="col-sm-4">@Html.DisplayFor(model => item.TotalSale)</dd>
                                                }
                                            </dl>
                                        </div>
                                    </p>
                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                    <a asp-route-id="@item.EmpId" asp-area="Reports" asp-action="AttdDetails" asp-controller="EmpAttReportController" class="btn btn-outline-default btn-sm btn-md ">Details</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                    }
                </div>
            </div>

        }
        else
        {
            <div class="col-md-12 md-4">
                <div class="card" style="width: 22rem;">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title">No Staff Present</h4>
                        <!-- Text -->
                        <p class="card-text">
                            No Employee is present today, Add attendance.
                        </p>
                        <!-- Button -->
                        <a action="Index" Controller="Attendances" Area="Payroll" class="btn btn-primary">Add Attendance</a>
                    </div>
                </div>
            </div>

        }

    </div>
</section>
<section class="mb-5 pb-1">
    @*Graphs*@
    <div class="row card-deck  mb-4  mx-1">
        <div class="card card-cascade  col-md-6">
            <vc:staffsale></vc:staffsale>
        </div>
    </div>
    <div class="row card-deck  mb-4  mx-1 pb-2">
        <div class="card card-cascade  col-md-4">
            <vc:weeklysale></vc:weeklysale>
        </div>
        <div class="card card-cascade  col-md-4">
            <vc:monthlysale></vc:monthlysale>
        </div>
        <div class="card card-cascade  col-md-4">
            <vc:yearlysale></vc:yearlysale>
        </div>
    </div>
    <div class="mb-5 pb-2"><p class="text-center">    </p></div>
</section>
