@model IEnumerable<AprajitaRetails.Models.ViewModels.CashBook>

@{
    ViewData["Title"] = "Cash Book";
}

<h2 class="green-text">Cash Book</h2>

<form asp-action="Index" method="get">
    <div class="form form-check">
        <div class="form-group form-row  ">

            <div class="control-label col-md-2 text-danger ">CashBook :</div>
            <div class="col-md-10  ">


                @Html.RadioButton("ModeType", "MonthWise", true) <b class="text-primary">Month Wise </b>
                @Html.RadioButton("ModeType", "DayWise", false)<b class="text-success"> DayWise</b>

            </div>
        </div>
        <div class="form-group form-row  ">

            <div class="control-label col-md-2 text-danger ">Output :</div>
            <div class="col-md-10  ">


                @Html.RadioButton("OutputType", "OnScreen", true) <b class="text-primary">On Screen </b>
                @Html.RadioButton("OutputType", "PDF", false)<b class="text-success"> Pdf</b>
                @Html.RadioButton("OutputType", "XLS", false)<b class="text-success"> Excel</b>

            </div>
        </div>
        @if (Context.User.IsInRole("Admin"))
        {
            <div class="form-group form-row  ">

                <div class="control-label col-md-2 text-danger ">Mode :</div>
                <div class="col-md-10  ">


                    @Html.RadioButton("OpsType", "List", true) <b class="text-primary">Listing</b>
                    @Html.RadioButton("OpsType", "Correct", false)<b class="text-success"> Correction</b>

                </div>
            </div>
        }
        <div class="form-group">

            <strong> By Date:</strong> @Html.EditorFor(model => model.FirstOrDefault().EDate, new { htmlAttributes = new { @value = DateTime.Now.ToShortDateString(), @class = "form-control-sm " } })
            @Html.ValidationMessageFor(model => model.FirstOrDefault().EDate, "", new { @class = "text-danger" })

            <input type="submit" value="Get" class=" btn btn-outline-warning btn-sm " />
        </div>
    </div>
    <p class="text-warning">
        @ViewBag.Message

    @if (ViewBag.FileName != null && ViewBag.FileName != "")
    {
        <a class="btn btn-sm btn-outline-dark-green" href=@ViewBag.FileName><span class="text-danger" data-feather="download-cloud"></span> Download</a>
    }
</p>
</form>
<table class="table table-sm table-bordered table-hover">
    <thead class="table-primary text-center text-monospace font-weight-bolder text-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Particulars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashOut)
            </th>
            <th class="text-danger">
                @Html.DisplayNameFor(model => model.CashBalance)
            </th>

        </tr>
    </thead>
    <tbody class="table-secondary">
        @foreach (var item in Model)
        {
            <tr>
                @if (item.CashOut > 0)
                {
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.EDate)
                    </td>
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Particulars)
                    </td>
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.CashIn)
                    </td>
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.CashOut)
                    </td>

                    @if (item.CashBalance < 0)
                    {
                        <td class="text-danger">
                            @Html.DisplayFor(modelItem => item.CashBalance)
                        </td>

                    }
                    else
                    {
                        <td class="text-success">
                            @Html.DisplayFor(modelItem => item.CashBalance)
                        </td>
                    }

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.EDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Particulars)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashOut)
                    </td>

                    @if (item.CashBalance < 0)
                    {
                        <td class="text-danger">
                            @Html.DisplayFor(modelItem => item.CashBalance)
                        </td>

                    }
                    else
                    {
                        <td class="text-success">
                            @Html.DisplayFor(modelItem => item.CashBalance)
                        </td>
                    }
                }


            </tr>
        }
    </tbody>
</table>

