@model IEnumerable<eStore.Shared.Models.Sales.DueRecoverd>

@{ ViewData["Title"] = "Due Recoverd";
    var host = "https://localhost:44335/";
    var uri =  "/api/DueRecoverds";
    var activityName = "DueRecoverd"; }


<table class="table" id="dtDueRecoverd">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaidDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuesList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPartialPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PaidDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DuesList.DailySale.InvNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AmountPaid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsPartialPayment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Remarks)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Store.StoreId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>*@
    <td>
        <a asp-action="Edit" asp-route-id="@item.DueRecoverdId">Edit</a> 
        <a asp-action="Details" asp-route-id="@item.DueRecoverdId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.DueRecoverdId">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>
<partial name="_OnlyModalPopUp" />
@section Scripts{
    <script src="~/js/curdjs.js"></script>
    <script>
        cardTableInit("dtDueRecoverd", "Due Recovery", "DueRecoverds");
         function deleteM(id) {
             deleteModal('@activityName', '@uri', id);
            // alert(id);
             return false;
        }
    </script>
}
