@model eStore.Shared.Models.Sales.DuesList

@{
    ViewData["Title"] = "Delete";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DuesList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRecovered)
        </dt>
        <dd class="col-sm-10 form-check">
            <input class="form-check-input" asp-for="IsRecovered" checked="@Model.IsRecovered." type="checkbox" disabled/>

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecoveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecoveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailySale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailySale.DailySaleId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPartialRecovery)
        </dt>
        <dd class="col-sm-10 form-check">
            <input class="form-check-input" asp-for="IsPartialRecovery" checked="@Model.IsPartialRecovery." type="checkbox" disabled/>

        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DuesListId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        
    </form>
</div>
