@model eStore.Shared.Models.Sales.DuesList

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>DuesList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRecovered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRecovered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecoveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecoveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailySale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailySale.DailySaleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPartialRecovery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPartialRecovery)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DuesListId">Edit</a> 
    
</div>
