@model IEnumerable<eStore.Shared.Models.Sales.DuesList>

@{ ViewData["Title"] = "DuesList";
    var host = "https://localhost:44335/";
    var uri =  "/api/DuesLists";
    var activityName = "DuesList"; }


<table class="table" id="dtDuesList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRecovered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecoveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailySale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPartialRecovery)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsRecovered)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RecoveryDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DailySale.InvNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsPartialRecovery)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Store.StoreId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>*@
    <td>
        <a asp-action="Edit" asp-route-id="@item.DuesListId">Edit</a> 
        <a asp-action="Details" asp-route-id="@item.DuesListId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.DuesListId">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>
<partial name="_OnlyModalPopUp" />
@section Scripts{
    <script src="~/js/curdjs.js"></script>
    <script>
        cardTableInit("dtDuesList", "DuesList", "DuesLists");
         function deleteM(id) {
             deleteModal('@activityName', '@uri', id);
            // alert(id);
             return false;
        }
    </script>
}
