@model IEnumerable<eStore.Shared.Models.Payroll.Attendance>

@{
    ViewData["Title"] = "Attendance";
}

<table class="table table-sm table-borderless table-responsive-sm">
    <tr class="d-inline">

        <td class="btn-group btn-group-sm  " role="group">
            <a class="btn btn-light-green btn-sm" asp-action="Create" id="create" data_modal="">Create</a>
            <a class="btn btn-orange btn-sm" asp-action="Index" asp-route-id="">Today</a>
            <a class="btn btn-cyan btn-sm" asp-action="Index" asp-route-id="100">Month</a>
            <a class="btn btn-brown btn-sm" asp-action="Index" asp-route-id="102">Last Month</a>
            <a class="btn btn-deep-orange btn-sm" asp-action="Index" asp-route-id="101">All</a>
        </td>
        <td class="btn-group btn-group-sm text-success m-0 p-0 " role="group">

            <form method="get" asp-action="Index">
                Date <input class="form-control-sm" type="date" name="OnDate" id="OnDate" /><button class="btn btn-amber btn-sm" type="submit" value="Get"><span data-feather="search"></span>Get</button>
            </form>


        </td>
    </tr>
    <tr>
        <td class="btn-group btn-group-sm mb-2" role="group">

            @foreach (var item in ViewBag.YearList)
            {

                <a class="btn btn-outline-dark-green " asp-action="Index" asp-route-id=@item>@item</a>

            }


            @if (ViewBag.YearName != null)
            {

                <div class="btn-group btn-group-sm mr-5" role="group">
                    <a class="btn btn-outline-default dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Month<span class="caret"></span>
                    </a>
                    @*<div class="btn-group btn-group-sm">*@
                    <div class="dropdown-menu">
                        @foreach (var item in ViewBag.MonthList)
                        {
                            if (item == "")
                            {
                                <a class="dropdown-item" asp-action="Index" asp-route-id=@ViewBag.YearName asp-route-MonthName="@item">All</a>
                                ////btn btn-sm btn - outline - deep - purple
                            }
                            else
                            {
                                <a class="dropdown-item" asp-action="Index" asp-route-id=@ViewBag.YearName asp-route-MonthName="@item">@item</a>
                                //@*btn btn-sm btn-outline-deep-purple"*@
                            }
                        }
                    </div>
                </div>



            }

        </td>



    </tr>
</table>



<div class="card card-cascade narrower ">
    <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center rounded-pill">

        <div>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="fas fa-th-large mt-0"></i>
            </button>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="fas fa-columns mt-0"></i>
            </button>
        </div>

        <h3 class="white-text mx-3 ">Attendance</h3>

        <div>
            <a asp-action="Create" class="btn btn-outline-white btn-rounded btn-sm px-2" id="create" data_modal=""> <i class="fas fa-plus-circle mt-0"></i></a>

            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="fas fa-pencil-alt mt-0"></i>
            </button>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="far fa-trash-alt mt-0"></i>
            </button>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="fas fa-info-circle mt-0"></i>
            </button>
        </div>
    </div>

    <div class="px-4">
        <div class="table-wrapper">
            <table id="dtAttendance" cellspacing=" 0" width="100%" class="table bg-white table-hover  table-bordered table-sm  mb-0">
                <thead class="mdb-color-text text-center">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AttDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EntryTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center text-primary">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.StaffName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AttDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EntryTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>
                            <td class="btn-group d-inline-flex">
                                <a class="btn btn-warning btn-sm btn-rounded" id="edit" data_modal="" asp-action="Edit" asp-route-id="@item.AttendanceId"><i class="fas fa-pencil-alt mt-0"></i></a>
                                <a class="btn btn-info btn-sm" id="detail" data_modal="" asp-action="Details" asp-route-id="@item.AttendanceId"><i class="fas fa-info-circle mt-0"></i></a>
                                <a class="btn btn-danger " id="delete" data_modal="" asp-action="Delete" asp-route-id="@item.AttendanceId"><i class="fas fa-trash-alt mt-0"></i></a>
                                <a class="btn btn-default btn-sm btn-rounded" asp-action="EmpDetails" asp-route-id="@item.AttendanceId" asp-route-ondate="@item.AttDate.Date.ToString("dd-MM-yyyy")" id="detail" data_modal="">List</a>

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th class="skip"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th class="skip"></th>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>

</div>

<partial name="_OnlyModalPopUp" />
@section Scripts
{
    <script>$('#dtAttendance').dataTable({
            "pagingType": "full_numbers",
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox select-checkbox-all',
                targets: 0
            }],
            select: {
                style: 'multi',
                selector: 'td:first-child'

            },
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;


                    var select = $('<select  class="browser-default custom-select form-control-sm small"><option value="" selected>Search</option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });


                });
            }
        });
        //$(".skip").children().addClass("invisible disable");
        $(".skip").empty();
        $(".skip").removeClass();</script>
}