@model eStore.Shared.Models.Sales.DailySale

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>DailySale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PayMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PayMode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CashAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CashAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salesman)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salesman.SalesmanName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDue)
        </dt>
        <dd class="col-sm-10 form-check">
            <input type="checkbox" class="form-check-input active-check" checked="@Model.IsDue" disabled="disabled">
            <label class="form-check-label" asp-for="@Model.IsDue" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsManualBill)
        </dt>
        <dd class="col-sm-10 form-check">
          
            <input type="checkbox" class="form-check-input active-check" checked="@Model.IsManualBill" disabled="disabled">
            <label class="form-check-label" asp-for="@Model.IsManualBill" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsTailoringBill)
        </dt>
        <dd class="col-sm-10 form-check">
           
            <input type="checkbox" class="form-check-input active-check" checked="@Model.IsTailoringBill" disabled="disabled">
            <label class="form-check-label" asp-for="@Model.IsTailoringBill" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsSaleReturn)
        </dt>
        <dd class="col-sm-10 form-check">
            
            <input type="checkbox" class="form-check-input active-check" checked="@Model.IsSaleReturn" disabled="disabled">
            <label class="form-check-label" asp-for="@Model.IsSaleReturn" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-amber btn-sm btn-rounded" asp-action="Edit" asp-route-id="@Model.DailySaleId">Edit</a>
  
</div>