@model IEnumerable<eStore.Shared.Models.Accounts.Party>

@{
    ViewData["Title"] = "Party";
    var host = "https://localhost:44335/";
    var uri =  "/api/Parties";
    var activityName = "Party";
}


<table class="table" id="dtParty">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenningBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PANNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GSTNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LedgerType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PartyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenningDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenningBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PANNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GSTNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LedgerType.LedgerNameType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PartyId">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.PartyId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PartyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_OnlyModalPopUp" />
@section Scripts{
    <script src="~/js/curdjs.js"></script>
    <script>
        cardTableInit("dtParty", "Party", "Parties");
         function deleteM(id) {
             deleteModal('@activityName', '@uri', id);
            // alert(id);
             return false;
        }
    </script>
}