@model IEnumerable<eStore.Shared.Models.Accounts.Expenses.Rent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReadOnly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location.RentedLocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReadOnly)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
