@model eStore.Shared.Models.Tailoring.TalioringBooking

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>TalioringBooking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingSlipNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingSlipNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShirtQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShirtQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShirtPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShirtPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PantQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PantQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PantPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PantPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoatQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoatQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoatPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoatPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KurtaQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KurtaQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KurtaPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KurtaPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BundiQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BundiQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BundiPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BundiPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Others)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Others)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OthersPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OthersPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelivered)
        </dt>
        <dd class="col-sm-10 form-check">
            <input type="checkbox" class="form-check-input active-check" checked="@Model.IsDelivered" disabled="disabled">
            <label class="form-check-label" asp-for="@Model.IsDelivered" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntryStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntryStatus)
        </dd>*@
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TalioringBookingId">Edit</a> 
    
</div>
