@model IEnumerable<eStore.Shared.Models.Tailoring.TalioringBooking>

@{
    ViewData["Title"] = "Bookings";
    var host = "https://localhost:44335/";
    var uri =  "/api/TalioringBookings";
    var activityName = "TalioringBooking";
}


<table class="table" id="dtTalioringBooking">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TryDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQty)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TryDate)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalQty)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsDelivered)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.TalioringBookingId">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.TalioringBookingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TalioringBookingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_OnlyModalPopUp" />
@section Scripts{
    <script src="~/js/curdjs.js"></script>
    <script>
        cardTableInit("dtTalioringBooking", "Talioring Booking", "TalioringBookings");
         function deleteM(id) {
             deleteModal('@activityName', '@uri', id);
            // alert(id);
             return false;
        }
    </script>
}