@model IEnumerable<eStore.Shared.Models.Tailoring.TalioringBooking>

@{
    ViewData["Title"] = "Bookings";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingSlipNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShirtQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShirtPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PantQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PantPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoatQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoatPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KurtaQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KurtaPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BundiQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BundiPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Others)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OthersPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReadOnly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingSlipNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShirtQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShirtPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PantQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PantPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoatQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoatPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KurtaQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KurtaPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BundiQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BundiPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Others)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OthersPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReadOnly)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TalioringBookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TalioringBookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TalioringBookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
