@model IEnumerable<eStore.Shared.Models.Accounts.Expenses.ElectricityConnection>

@{
    ViewData["Title"] = "Index";
    var host = "https://localhost:44335/";
    var uri = host + "api/ElectricityConnections";
    var activityName = "ElectricityConnection";
}


<table class="table" id="dtElectricityConnection">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectioName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ConsumerNumber)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ConusumerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Connection)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ConnectinDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DisconnectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KVLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnedMetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalConnectionCharges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecurityDeposit)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReadOnly)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConnectioName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PinCode)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumerNumber)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ConusumerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Connection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConnectinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisconnectionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KVLoad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnedMetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalConnectionCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecurityDeposit)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Store.StoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReadOnly)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ElectricityConnectionId">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.ElectricityConnectionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ElectricityConnectionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_OnlyModalPopUp" />
@section Scripts{
    <script src="~/js/curdjs.js"></script>
    <script>
        cardTableInit("dtElectricityConnection", "Electricity Connection", "ElectricityConnections");
         function deleteM(id) {
             deleteModal('@activityName', '@uri', id);
            // alert(id);
             return false;
        }
    </script>
}
