@model IEnumerable<eStore.Shared.Models.Common.PurchaseTaxType>

@{
    ViewData["Title"] = "Index";
    var host = "https://localhost:44335/";
    var uri =  "/api/PurcahseTaxTypes";
    var activityName = "PurchaseTaxType";
}


<table class="table" id="dtPurchaseTaxType">
   
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TaxName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaxType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompositeRate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompositeRate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PurchaseTaxTypeId">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.PurchaseTaxTypeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PurchaseTaxTypeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_OnlyModalPopUp" />
    @section Scripts{
        <script src="~/js/curdjs.js"></script>
        <script>
        cardTableInit("dtPurchaseTaxType", "Purchase Tax Type", "PurchaseTaxTypes");
         function deleteM(id) {
             deleteModal('@activityName', '@uri', id);
            // alert(id);
             return false;
        }
        </script>
    }
